.top-container{
   display: flex;
   flex-direction: column;   
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
}
.zigu-logo {
   background-color: #7174d7bf;
   width: 100px;
   padding-left: 460px;
   padding-right: 460px;
   padding-top: 10px;
   padding-bottom: 10px;
   border-radius: 10px;
}
.title {
   font-family: 'Roboto', sans-serif;
   color: #1b1b19d1;
 }

 .form-label {
  font-family: 'Roboto', sans-serif;
  color: #40423f;
  opacity: 0.8;
  font-size: 0.8em;
  padding-bottom: 3px;
}

 .main-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 20px;

 }
 .input-container{
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 300px;
   border-width: 1px;
   border-style: solid;
   border-radius: 10px;
   border-color: #7174d7bf;
   padding-left: 10px;
 }
 .output-container{
   display: flex;
   flex-direction: column;
   width: 500px;
   height: 300px;
   border-width: 1px;
   border-style: solid;
   border-radius: 10px;
   border-color: #7174d7bf;
   padding-left: 10px;
 }


 .amount-box {
   font-family: 'Roboto', sans-serif;
   display: block;
   width: 200px;
   height: 30px;
   border:1px solid #7174d7bf;
   border-radius: 3px;
}


 .payment-button {
   background-color: #7174d7;    
   font-family: 'Roboto', sans-serif;
   border: none;
   border-radius: 15px 0px;
   box-shadow: 0px 0px 10px 0px #7174d7bf;
   cursor: pointer;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 20px;
   padding-left: 20px;
   margin-top: 20px;
   width: 20%;

 }
 .payment-button:hover {
    opacity: 0.7
 }
 .payment-button:active {
    opacity: 0.4
 }


 .result {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 200px;
  height: 30px;
  border:1px solid #7174d7bf;
  border-radius: 3px;
 }